{% extends 'site.html' %}
{% load humanize %}
{% block content %}
    <div class="inner_content">
        <div class="yui3-u-1">
            <div class="inner"><strong>Newest Bills in the {{ chamber|capfirst }}:</strong></div>
            <div class="inner-container">
                <div style="text-align:center;">
                    <span>
                        {% if newest.has_previous %}
                            <a href="?page={{ newest.previous_page_number }}"
                               id="prev-page">previous</a>
                        {% else %}
                            <a href="" id="prev-page">previous</a>
                        {% endif %}

                        {% if newest.has_next %}
                            <a href="?page={{ newest.next_page_number }}"
                               id="next-page">next</a>
                        {% else %}
                            <a href="" id="next-page">next</a>
                        {% endif %}
                    </span>
                </div>
                {% for bill in newest.object_list %}
                    <div>
                        <h4>
                            <a href="{% url bills.views.bill_overview term session bill.0 %}">{{ bill.0 }}</a>
                            - {{ bill.1 }}</h4>

                        <div>

                        </div>
                    </div>
                {% endfor %}
                <div style="text-align:center;">
                    <span>
                        {% if newest.has_previous %}
                            <a href="?page={{ newest.previous_page_number }}"
                               id="prev-page">previous</a>
                        {% else %}
                            <a href="" id="prev-page">previous</a>
                        {% endif %}

                        {% if newest.has_next %}
                            <a href="?page={{ newest.next_page_number }}"
                               id="next-page">next</a>
                        {% else %}
                            <a href="" id="next-page">next</a>
                        {% endif %}
                    </span>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
{% block endscript %}
    <script type="text/javascript">
        YUI({ insertBefore: "sitestyle" }).use('node', 'anim-base', 'cookie', function(Y) {
        });
    </script>

{% endblock endscript %}