{% extends 'site.html' %}
{% load humanize %}
{% block additional_style %}
    <style>
        .inner_content {
            background: rgb(250, 250, 250);
            background: rgba(250, 250, 250, .7);
            background-image: -moz-linear-gradient(top, rgba(250, 250, 250, .8), rgba(229, 229, 229, .7)); /*Firefox*/
            background-image: -webkit-gradient(linear, center top, center bottom, from(rgba(250, 250, 250, .8)), to(rgba(229, 229, 229, .7))); /*Safari/Chrome*/
            -ms-filter: "progid:DXImageTransform.Microsoft.Gradient(StartColorStr=#FFFFFF,EndColorStr=#fbfbfb)"; /*IE8*/
            background-image: linear-gradient(top, #FFFFFF, #fbfbfb); /*Standard*/
        }

        .inner-container {
            margin: 0 10px;
            padding: 0;
            border: 1px solid rgb(10, 10, 10);
        }

        .content {
            background: rgb(250, 250, 250);
            border-left: 1px solid rgb(10, 10, 10);
            padding: 10px;
        }

        .scrollview-header {
            background: rgb(229, 229, 229);
            background: rgba(229, 229, 229, .7);
            background-image: -moz-linear-gradient(top, rgba(229, 229, 229, .8), rgba(191, 191, 191, .7)); /*Firefox*/
            background-image: -webkit-gradient(linear, center top, center bottom, from(rgba(229, 229, 229, .8)), to(rgba(191, 191, 191, .7))); /*Safari/Chrome*/
            -ms-filter: "progid:DXImageTransform.Microsoft.Gradient(StartColorStr=#fbfbfb,EndColorStr=#BFBFBF)"; /*IE8*/
            background-image: linear-gradient(top, #fbfbfb, #BFBFBF); /*Standard*/
        /* margin: 10px; */
        /*padding: 0px 10px;*/
            height: 25px;
            border-top: 1px solid rgb(10, 10, 10);
            border-left: 1px solid rgb(10, 10, 10);
            border-right: 1px solid rgb(10, 10, 10);
            -moz-border-radius-topright: 2px;
            -moz-border-radius-topleft: 2px;
            -webkit-border-top-left-radius: 2px;
            -webkit-border-top-right-radius: 2px;
            -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
            -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
            text-shadow: 0 -1px 1px rgba(0, 0, 0, 0.25);
        }

        .scrollview-container {
            border-left: 1px solid rgb(10, 10, 10);
            border-right: 1px solid rgb(10, 10, 10);
            border-bottom: 1px solid rgb(10, 10, 10);
        }

        #scrollable-container {

        }

        .horiz {
            width: 100%;
        }

        .paged > .content {
            display: inline-block;
            float: left;
            height: 140px;
            width: 140px;
            position: relative;
        }
    </style>
{% endblock additional_style %}
{% block content %}
    <div class="inner_content">
        <div class="yui3-u-1">
            <div class="scrollview-header">
                <span><strong>Most Viewed Legislation</strong></span>
                <span>
                    {% if most_viewed.has_previous %}
                        <a href="?page={{ most_viewed.previous_page_number }}"
                           id="prev-page">previous</a>
                    {% else %}
                        <a href="" id="prev-page">previous</a>
                    {% endif %}

                    {% if most_viewed.has_next %}
                        <a href="?page={{ most_viewed.next_page_number }}"
                           id="next-page">next</a>
                    {% else %}
                        <a href="" id="next-page">next</a>
                    {% endif %}
                </span>
                <span style="float:right"><a href="">more</a></span>
            </div>
            <div class="scrollview-container" style="height:160px;">
                <div id="scrollable" class="horiz">
                    <div id="scrollable-container" class="scroll-container"
                         style="width:3880px;">
                        <div class="paged">
                            {% for bill in most_viewed.object_list %}
                                <div class="content">
                                    <h4>
                                        <a href="{{ bill.get_absolute_url|urlencode }}">{{ bill.number }}</a>
                                        - {{ bill.title }}</h4>

                                    <div style="position:absolute;bottom:40px;">
                                        {{ bill.actions.latest }}
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
                <script type="text/javascript" charset="utf-8">
                    YUI({insertBefore: "sitestyle"}).use("node", "datasource-io", "datasource-jsonschema", "substitute", 'scrollview', 'scrollview-paginator', function(Y) {
                        var total_pages = {{ total_pages }},
                                items_per_page = {{ items_per_page|default:6 }},
                                total_items = {{ total_items }},
                                bill_scroll = '<div class="paged"></div>',
                                bill_scroll_item = '<div class="content" id="item_{item}"></div>',
                                bill_item_full = '<div class="content"><h4><a href="{url}">{bill_number}</a> - {title}</h4><div></div></div>',
                                bill_item = '<h4><a href="{url}">{bill_number}</a> - {title}</h4><div></div>';
                        var myDataSource = new Y.DataSource.IO({source:""}),
                                myCallback = {
                                    success: function(e) {
                                        var items = e.response;
                                        //TODO replace this
                                        var new_items = new Array();

                                        Y.one('#next-page').set('href', '?page=' + items.meta.nextPage);
                                        Y.one('#prev-page').set('href', '?page=' + items.meta.prevPage);
                                        for (i = 0; i < items.results.length; i++) {
                                            new_items[i] = Y.substitute(bill_item, items.results[i]);
                                        }
                                        var curpage = Y.one('#page_' + items.meta.curPage);

                                        curpage.get('children').each(
                                                                    function(cur, cur_index, node_list) {
                                                                        var items = cur.get('children');
                                                                        Y.log(cur.get('id'));
                                                                        var index = cur.get('id');
                                                                        cur.setContent(new_items[index[index.length - 1]]);
                                                                    });

                                    },
                                    failure: function(e) {
                                        alert("Could not retrieve data: " + e.error.message);
                                    }
                                };

                        myDataSource.plug(Y.Plugin.DataSourceJSONSchema, {
                            schema: {
                                metaFields: {totalPages:"ResultSet.total",
                                    nextPage:"ResultSet.next",
                                    prevPage:"ResultSet.previous",
                                    curPage:"ResultSet.current"},
                                resultListLocator: "ResultSet.Result",
                                resultFields: ["url","bill_number","title"]
                            }
                        });

                        /* lets try building a blank set of pages */
                        var page = Y.one('#scrollable-container'),
                                contents = '',
                                item_count = 0;
                        for (i = 2; i < total_pages; i++) {
                            contents += '<div class="paged" id="page_' + i + '">';
                            for (var x = 0; x < items_per_page; x++) {
                                if (item_count <= total_items) {
                                    contents += '<div class="content" id="item_' + item_count + '"></div>';
                                    item_count++;
                                }
                            }
                            contents += '</div>';
                        }
                        page.append(contents);

                        var scrollView = new Y.ScrollView({
                            srcNode : '#scrollable',
                            width : 968,
                            flick : {
                                preventDefault:function(e) {
                                    return (Y.UA.gecko);
                                },
                                minDistance:10,
                                minVelocity:0.3
                            }

                        });

                        scrollView.plug(Y.Plugin.ScrollViewPaginator, {
                            selector: 'div.paged'
                        });
                        scrollView.render();
                        Y.one('#next-page').on('click', function(e) {
                            Y.log(e);
                            e.preventDefault();
                            Y.bind(scrollView.pages.next, scrollView.pages);
                        });
                        Y.one('#prev-page').on('click', function(e) {
                            e.preventDefault();
                            Y.bind(scrollView.pages.prev, scrollView.pages);
                        });
//			    myDataSource.sendRequest({
//                                    request:e.target.getAttribute('href'),
//                                    callback:myCallback
//                                });
                    });
                </script>

            </div>
        </div>

            <div class="yui3-u-1"
                 {% if tracked_bills %}{% else %}style="display:none;{% endif %}">
                <div class="inner">
                    <strong>Legislation I am watching:</strong>
                    <span style="float:right"><a href="" id="toggle-tracking">toggle
                        tracked items</a></span>
                </div>
                <div class="inner-container" id="user-tracked">
                    <div class="yui3-g">
                        {% for tracked in tracked_bills %}
                            {% with tracked.content_object as bill %}
                                <div class="yui3-u-1-2">
                                    <div class="content">
                                        <h4>
                                            <a href="{{ bill.get_absolute_url|urlencode }}">{{ bill.number }}</a>
                                            - {{ bill.title }}</h4>

                                        <div style="text-align:center">
                                            {{ bill.actions.latest.action }}
                                            - {{ bill.actions.latest.date|naturalday }}
                                        </div>
                                    </div>
                                </div>
                            {% endwith %}
                        {% endfor %}
                    </div>
                </div>
            </div>

        <div class="yui3-u-1">
            <div class="inner"><strong>Newest Bills in the {{ chamber|capfirst }}:</strong></div>
            <div class="inner-container">
                <div style="text-align:center;">
                    <span>
                        {% if newest.has_previous %}
                            <a href="?page={{ newest.previous_page_number }}"
                               id="prev-page">previous</a>
                        {% else %}
                            <a href="" id="prev-page">previous</a>
                        {% endif %}

                        {% if newest.has_next %}
                            <a href="?page={{ newest.next_page_number }}"
                               id="next-page">next</a>
                        {% else %}
                            <a href="" id="next-page">next</a>
                        {% endif %}
                    </span>
                </div>
                {% for bill in newest.object_list %}
                    <div>
                        <h4>
                            <a href="{% url bills.views.bill_overview term session bill.0 %}">{{ bill.0 }}</a>
                            - {{ bill.1 }}</h4>

                        <div>

                        </div>
                    </div>
                {% endfor %}
                <div style="text-align:center;">
                    <span>
                        {% if newest.has_previous %}
                            <a href="?page={{ newest.previous_page_number }}"
                               id="prev-page">previous</a>
                        {% else %}
                            <a href="" id="prev-page">previous</a>
                        {% endif %}

                        {% if newest.has_next %}
                            <a href="?page={{ newest.next_page_number }}"
                               id="next-page">next</a>
                        {% else %}
                            <a href="" id="next-page">next</a>
                        {% endif %}
                    </span>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
{% block endscript %}
    <script type="text/javascript" charset="utf-8">
        YUI({ insertBefore: "sitestyle" }).use('node', 'anim-base', 'cookie', function(Y) {
            // according to node's documentation calling node.toggleView()
            // with the transition module loaded should automatically run the appropriate
            // transition. it doesnt instead complaining about missing anim even if
            // the anim module is loaded
            var show_tracked = Y.Cookie.getSub("preference", "show_tracked", Number);
            var toggleTracker = Y.one('#user-tracked');
            if (show_tracked == 0) {
                Y.one('#user-tracked').setStyle("display", "none");
            }
            Y.one("#toggle-tracking").on("click", function(e) {
                e.preventDefault();
                toggleTracker.toggleView();
                var showing = (toggleTracker.getStyle("display") == "none" ? 0 : 1);
                Y.Cookie.setSub("preference", "show_tracked", showing);
            });
        });
    </script>

{% endblock endscript %}