html {
    background:rgb(250,250,250);
    background:rgba(250,250,250,.7);
    background-image: -moz-linear-gradient(top, rgba(229, 229, 229, .8),  rgba(232,237,240,.7)); /*Firefox*/
    background-image: -webkit-gradient(linear, center top, center bottom, from(rgba(229, 229, 229, .8)),to(rgba(232,237,240,.7))); /*Safari/Chrome*/
    -ms-filter: "progid:DXImageTransform.Microsoft.Gradient(StartColorStr=#fbfbfb,EndColorStr=#e8edf0)"; /*IE8*/
    background-image: linear-gradient(top, #fbfbfb, #e8edf0); /*Standard*/

}

#doc{
    margin: auto;
    width: 970px;
}

.yui3-g #header{
    background: transparent url(/media/img/az-flag-7.png) top left no-repeat;
}
/*
#header {
    background: url(/img/az-flag-star.png) top center no-repeat,
                url(/img/az-flag-base.png) top left no-repeat;
}
*/
#innerHeader{ 
    border-bottom:1px solid #111;
    background:rgb(250,250,250);
    background:rgba(250,250,250,.7);
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(200, 200, 200 0.8)), to(rgba(250,250,250,.7))); /* for webkit browsers */
    background: -moz-linear-gradient(100% 100% 90deg,  rgba(200, 200, 200 .8),  rgba(250,250,250,.7)); /* for firefox 3.6+ */
    -moz-box-shadow: 0 1px 3px rgba(0,0,0,0,0.5);
    -webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
    color: #ffffff;
    height:140px;
}

/************************************************ 
 * header styles
 ***********************************************/
#HeaderNav {
    background:rgb(230, 230, 250);
    background:rgba(230, 230, 250, 0.5);
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(250,250,250,.7)), to(rgba(230, 230, 250, 0.5))); /* for webkit browsers */
    background: -moz-linear-gradient(100% 100% 90deg,  rgba(250,250,250,.7),  rgba(230, 230, 250, 0.5)); /* for firefox 3.6+ */
    margin:0 20px;
    padding: 5px;
    height:25px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    -moz-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
    -webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
    box-shadow: 0 1px 3px rgba(0,0,0,0.5);
    text-shadow: 0 -1px 1px rgba(0,0,0,0.25);
}

.login-bar{
    float:right;
    font-size:small;
    letter-spacing:normal;
    word-spacing:normal;
}

#mainnav{
    letter-spacing:normal;
    word-spacing:normal;
}

/************************************************
 * Main Container Styles
 ***********************************************/
.main-container {
    /* background-color: #ffffff; */
    background-color: rgb(237, 245, 250);
    background-color: rgba(237, 245, 250, .5); /* #EDF5FA; */
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
    -webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
    box-shadow:0 1px 3px rgba(0,0,0,0.5);
    text-shadow: 0 -1px 1px rgba(0,0,0,0.25);
}
.MainContent {
    background-color:#BED4E2;
}

#doc > .yui3-g{
    -moz-box-shadow: 0 1px 3px rgba(0,0,0,0.5)
    -webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
    box-shadow:0 1px 3px rgba(0,0,0,0.5);
}

#firstColumn {
    background:rgb(190, 212, 226);
    background:rgba(190, 212, 226, 0.4);
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(32, 30, 83, 0.4)), to(rgba(190, 212, 226, 0.4))); /* for webkit browsers */
    background: -moz-linear-gradient(100% 100% 90deg,  rgba(32, 30, 83, .4),  rgba(190, 212, 226, .4)); /* for firefox 3.6+ */
    -ms-filter: "progid:DXImageTransform.Microsoft.Gradient(StartColorStr=#fbfbfb,EndColorStr=#BFBFBF)"; /*IE8*/
}

#secondColumn {
    background: rgb(190, 212, 226)
    background: rgba(190, 212, 226, 0.5);
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(32, 30, 83, 0.8)), to(rgba(190, 212, 226, 0.5))); /* for webkit browsers */
    background: -moz-linear-gradient(100% 100% 90deg,  rgba(32, 30, 83, .8),  rgba(190, 212, 226, .4)); /* for firefox 3.6+ */
    -ms-filter: "progid:DXImageTransform.Microsoft.Gradient(StartColorStr=#fbfbfb,EndColorStr=#BFBFBF)"; /*IE8*/
}

.inner, .innerColumn {
    background:rgb(229,229,229);
    background:rgba(229,229,229,.7);
    background-image: -moz-linear-gradient(top, rgba(229, 229, 229, .8),  rgba(191,191,191,.7)); /*Firefox*/
    background-image: -webkit-gradient(linear, center top, center bottom, from(rgba(229, 229, 229, .8)),to(rgba(191,191,191,.7))); /*Safari/Chrome*/
    -ms-filter: "progid:DXImageTransform.Microsoft.Gradient(StartColorStr=#fbfbfb,EndColorStr=#BFBFBF)"; /*IE8*/
    background-image: linear-gradient(top, #fbfbfb, #BFBFBF); /*Standard*/
    margin: 10px;
    padding: 10px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    -moz-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
    -webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
    box-shadow: 0 1px 3px rgba(0,0,0,0.5);
    text-shadow: 0 -1px 1px rgba(0,0,0,0.25);
}

.inner h1, h2, h3, h4 {
    margin:5px;
    text-align:center;
}

.inner ul {
    margin-left:15px;
}

.innerColumn {
    width:145px;
    float:left;
}

/************************************************
 * Footer Styles
 ***********************************************/

#footer {
    clear: both;
    background:rgb(250,250,250);
    background:rgba(250,250,250,.7);
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(200, 200, 200 0.8)), to(rgba(250,250,250,.7))); /* for webkit browsers */
    background: -moz-linear-gradient(100% 100% 90deg,  rgba(200, 200, 200 .8),  rgba(250,250,250,.7)); /* for firefox 3.6+ */
    -ms-filter: "progid:DXImageTransform.Microsoft.Gradient(StartColorStr=#C8C8C8,EndColorStr=#FAFAFA)"; /*IE8*/
    background-image: linear-gradient(top, #C8C8C8, #FAFAFA); /*Standard*/
    -moz-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
    -webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
    box-shadow: 0 1px 3px rgba(0,0,0,0.5);
    color: #ffffff;
    height: 150px;
    border-top: 1px solid #111;
}

/************************************************
 * Miscelaneous Global styles
 ***********************************************/

.warning { color: #aa0000; }

#cal1Cont {
    display: none;
}

.errors {
    background-color: red;
}

.content-box {
    background-color: rgb(191,191,191);
    padding: 5px;
    margin-bottom:5px;
    border-radius: 5px;
}

/* not used anywhere but nice to know
.rounded {
    background-image: url(left.png), url(right.png), url(main.png);
    background-repeat: no-repeat, no-repeat, repeat-x;
    background-position: left top, right top, left top;

}
*/

/* gray gradient */
.gg {
    background:rgb(229,229,229);
    background:rgba(229,229,229,.7);
    background-image: -moz-linear-gradient(top, rgba(229, 229, 229, .8),  rgba(191,191,191,.7)); /*Firefox*/
    background-image: -webkit-gradient(linear, center top, center bottom, from(rgba(229, 229, 229, .8)),to(rgba(191,191,191,.7))); /*Safari/Chrome*/
    -ms-filter: "progid:DXImageTransform.Microsoft.Gradient(StartColorStr=#fbfbfb,EndColorStr=#BFBFBF)"; /*IE8*/
    background-image: linear-gradient(top, #fbfbfb, #BFBFBF); /*Standard*/
}

/************************************************
 * frontpage styles
 ***********************************************/

/* articles */
.frontpage-article{

}

.article-heading {
    font-size: larger;
}

.article {
    background: rgb(250, 250, 250);
    border-left: 1px solid rgb(10, 10, 10);
    border-right: 1px solid rgb(10, 10, 10);
    border-bottom: 1px solid rgb(10, 10, 10);
    position: relative;
    padding: 10px;
}

.article h3 {
    text-align: center;
}

.article-attribution {
    display: inline-block;
    clear: left;
    float: left;
    margin-right: 10px;
    margin-bottom: 10px;
}

.article-teaser {
    overflow-x: auto;
    overflow-y: hidden;
    display: inline;
}

/* bill scrollview */
.quick-info-box {
    height:150px;
    width:340px;
    padding:10px;
}
.horiz {
    width:320px;
}
.horiz li {
    float:left;
    clear:none;
}

.inner_content {
    background:rgb(250, 250, 250);
    background:rgba(250, 250, 250,.7);
    background-image: -moz-linear-gradient(top, rgba(250, 250, 250, .8),  rgba(229, 229, 229,.7)); /*Firefox*/
    background-image: -webkit-gradient(linear, center top, center bottom, from(rgba(250, 250, 250, .8)),to(rgba(229, 229, 229,.7))); /*Safari/Chrome*/
    -ms-filter: "progid:DXImageTransform.Microsoft.Gradient(StartColorStr=#FFFFFF,EndColorStr=#fbfbfb)"; /*IE8*/
    background-image: linear-gradient(top, #FFFFFF, #fbfbfb); /*Standard*/
}
.inner-container {
    margin:0 10px;
    padding:0;
}
.inner {
    padding: 5px 10px;
}
.content {
    background: rgb(250, 250, 250);
    padding: 5px;
}
.content_container {
    margin:0px;
    padding:5px;
}
.bill-overview{
    background-color: rgb(237, 245, 250);
    background-color: rgba(237, 245, 250, .5); /* #EDF5FA; */
    margin: 10px;
    padding: 10px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    -moz-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
    -webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
    box-shadow: 0 -1px 1px rgba(0,0,0,0.25);
    text-shadow: 0 -1px 1px rgba(0,0,0,0.25);
}
.bill-overview h1 {
    text-align: center;
}
.bill-status {
    display: inline-block;
    margin: 0;
    border:1px solid black;
}
.bill-status .status{
    text-align: center;
    font-size:1em;
    vertical-align: text-bottom;
}
.bill-status > li {
    vertical-align: middle;
    font-size: .8em;
    float:left;
    list-style: none;
    padding: 0em 1em;
}
.bill-status > li > p {
    margin: 0;
    padding: 0;
    text-align: center;
}
.passed {
    background:gold;
    background-image: -moz-linear-gradient(top, rgba(255, 215, 0, .8),  rgba(229,229,229,.7)); /*Firefox*/
    background-image: -webkit-gradient(linear, center top, center bottom, from(rgba(255, 215, 0, .8)),to(rgba(229,229,229,.7))); /*Safari/Chrome*/
    -ms-filter: "progid:DXImageTransform.Microsoft.Gradient(StartColorStr=#FFD700,EndColorStr=#E5E5E5)"; /*IE8*/
    background-image: linear-gradient(top, #FFD700, #E5E5E5); /*Standard*/
}
.failed {
    background-image: -moz-linear-gradient(top, rgba(165, 20, 10, .8),  rgba(229,229,229,.7)); /*Firefox*/
    background-image: -webkit-gradient(linear, center top, center bottom, from(rgba(165, 20, 10, .8)),to(rgba(229,229,229,.7))); /*Safari/Chrome*/
    -ms-filter: "progid:DXImageTransform.Microsoft.Gradient(StartColorStr=#A5140A,EndColorStr=#E5E5E5)"; /*IE8*/
    background-image: linear-gradient(top, #A5140A, #E5E5E5); /*Standard*/
}
.no-action {
    background-image: -moz-linear-gradient(top, rgba(77, 77, 77, .8),  rgba(229,229,229,.7)); /*Firefox*/
    background-image: -webkit-gradient(linear, center top, center bottom, from(rgba(77, 77, 77, .8)),to(rgba(229,229,229,.7))); /*Safari/Chrome*/
    -ms-filter: "progid:DXImageTransform.Microsoft.Gradient(StartColorStr=#4D4D4D,EndColorStr=#E5E5E5)"; /*IE8*/
    background-image: linear-gradient(top, #4D4D4D, #E5E5E5); /*Standard*/
}
/************************************************
 *  YUI3 Base styles
 *  Might need to move above for style overrides
 ***********************************************/
/*
Copyright (c) 2010, Yahoo! Inc. All rights reserved.
Code licensed under the BSD License:
http://developer.yahoo.com/yui/license.html
version: 3.2.0
build: 2676
*/

.yui3-tab-panel {
    display:none;
}

.yui3-tab-panel-selected {
    display:block;
}

.yui3-tabview-list,
.yui3-tab {
    margin:0;
    padding:0;
    list-style:none;
}

.yui3-tabview {
    position:relative; /* contain absolute positioned tabs (left/right) */
}

.yui3-tabview,
.yui3-tabview-list,
.yui3-tabview-panel,
.yui3-tab,
.yui3-tab-panel { /* IE: kill space between horizontal tabs */
    zoom:1;
}

.yui3-tab {
    display:inline-block;
    *display:inline; /* IE */
    vertical-align:bottom; /* safari: for overlap */
    cursor:pointer;
}

.yui3-tab-label {
    display:block;
    display:inline-block;
    padding: 6px 10px;
    position:relative; /* IE: to allow overlap */
    text-decoration: none;
    vertical-align:bottom; /* safari: for overlap */
}
/* .yui-navset defaults to .yui-navset-top */
.yui3-tabview-list {
    border:solid #243356; /* color between tab list and content */
    border-width:0 0 5px;
    zoom:1;
}

.yui3-tab {
    margin:0 0.2em 0 0;
    padding:1px 0 0; /* gecko: make room for overflow */
    zoom:1;
}

.yui3-tab-selected {
    margin-bottom:-1px; /* for overlap (mapped to tabview-list border-width) */
}

.yui3-tab-label {
    background:#d8d8d8 url(../../../../assets/skins/sam/sprite.png) repeat-x; /* tab background */
    border:solid #a3a3a3;
    border-width: 1px 1px 0 1px;
    color:#000;
    cursor:hand;
    font-size:85%;
    padding:0.3em .75em;
    text-decoration:none;
}

.yui3-tab-label:hover,
.yui3-tab-label:focus {
    background:#bfdaff url(../../../../assets/skins/sam/sprite.png) repeat-x left -1300px; /* hovered tab background */
    outline:0;
}

.yui3-tab-selected .yui3-tab-label,
.yui3-tab-selected .yui3-tab-label:focus,
.yui3-tab-selected .yui3-tab-label:hover { /* no hover effect for selected */
    background:#BFBFBF url(../../../../assets/skins/sam/sprite.png) repeat-x left -1400px; /* selected tab background */
    color:#fff;
}

.yui3-tab-selected .yui3-tab-label {
    padding:0.4em 0.75em; /* raise selected tab */
}

.yui3-tab-selected .yui3-tab-label {
    border-color:#243356; /* selected tab border color */
}

.yui3-tabview-panel {
   background:rgb(250, 250, 250);
    background:rgba(250, 250, 250,.7);
    background-image: -moz-linear-gradient(top, rgba(250, 250, 250, .8),  rgba(229, 229, 229,.7)); /*Firefox*/
    background-image: -webkit-gradient(linear, center top, center bottom, from(rgba(250, 250, 250, .8)),to(rgba(229, 229, 229,.7))); /*Safari/Chrome*/
    -ms-filter: "progid:DXImageTransform.Microsoft.Gradient(StartColorStr=#FFFFFF,EndColorStr=#fbfbfb)"; /*IE8*/
    background-image: linear-gradient(top, #FFFFFF, #fbfbfb); /*Standard*/
}

.yui3-tabview-panel {
    border:1px solid #243356; /* content border */
    border-top-color:#BFBFBF; /* different border color */
    padding:0.25em 0.5em; /* content padding */
}
