{% extends 'site.html' %}
{% block content %}
        <div class="yui3-u-1">
            <div class="content" style="text-align:center;">
                <h1>500 Internal Server Error</h1>
                <p>We're sorry, but something went horribly, terribly wrong...</p>
                <p>Ok, really this site is under construction and not all of the features work.</p>
                <p>Please be patient with us as we get everything up and running.</p>
                <p>The error has been logged and we are looking into it.</p>
                <p>Thank you!</p>
            </div>
        </div>
{% endblock content %}
