<!DOCTYPE html>
<html version="HTML+RDFa 1.1" lang="en"
  xmlns="http://www.w3.org/1999/xhtml"
  xmlns:xsd ="http://www.w3.org/2001/XMLSchema#"
  xmlns:owl="http://www.w3.org/2002/07/owl#"
  xmlns:rdfs="http://www.w3.org/2000/01/rdf-schema#"
  xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#"
  xmlns:dc="http://purl.org/dc/elements/1.1/"
  xmlns:dcterms="http://purl.org/dc/terms/"
  xmlns:azns="http://watchingaz.us/ns/">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <title>{{ title }}</title>
        <link rel="SHORTCUT ICON" href="{{ MEDIA_URL }}img/favicon.ico" />
        <link rel="stylesheet" href="{{ MEDIA_URL }}css/reset-min.css" />
        <link rel="stylesheet" href="{{ MEDIA_URL }}css/fonts-min.css" type="text/css"/>
        <link rel="stylesheet" href="{{ MEDIA_URL }}css/grids-min.css" type="text/css"/>
        <link rel="stylesheet" href="{{ MEDIA_URL }}css/base-min.css" type="text/css"/>
        <link rel="stylesheet" href="{{ MEDIA_URL }}css/mygov-plain-skin.css" type="text/css" id="sitestyle"/>
        {% block links %}
        {% endblock links %}
        {% block additional_style %}
        {% endblock additional_style %}
        <script type="text/javascript" src="{{ MEDIA_URL }}js/yui-min.js" charset="utf-8"></script>
        {% block extrahead %}
        {% endblock extrahead %}
    </head>
    <body id="doc" class="yui3-skin-sam">
        <div class="yui3-g">
            {% block header %}
            {# Header block should have a DIV id='header' #}
            <div class="yui3-u-1" id="header">
                <div id="innerHeader">
                    {% if user.is_authenticated %}
                    <div class="login-bar">
                        <span style="color:black;">Welcome, <a href="{{ user.get_absolute_url }}" id="opendash">{{ user.username }}</a></span>
                        <span><a href="/accounts/logout/">Logout</a></span>
                    </div>
                    {% else %} 
                    <div class="login-bar">
                        <span style="color:black;"><a href="/accounts/login/">log in</a></span>
                        <span><a href="/accounts/register/">register</a></span>
                    </div> 
                    {% endif %}  
                    {% block logo %} 
                    {% endblock logo %}  
                    {% block announce %}
                    <div id="notify">
                        {# generic fallback for messages most of these should be handled through js #}
                        {% if messages %}
                        <ul class="messages">
                            {% for message in messages %}
                            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                            {% endfor %}
                        </ul>
                        {% endif %}
                    </div>
                    {% endblock announce %}  
                </div>
                <div id="sitenavigation" class="yui3-menu yui3-menu-horizontal">
                    <div class="yui3-menu-content">
                        <ul>
                            <li class="yui3-menuitem"><a class="yui3-menuitem-content" href="/">Home</a></li>
                            <li class="yui3-menuitem"><a class="yui3-menuitem-content" href="/bills/">Legislation</a></li>
                            <li class="yui3-menuitem"><a class="yui3-menuitem-content" href="/people/">Respresentatives</a></li>
                            <li class="yui3-menuitem" style="float:right;clear:none;">
                                <div id="searchbar">
                                    <form action="/search/" method="get">
                                        <div>
                                            <input type="text" id="search-input" name="search_field" />
                                            <input type="submit" id="search-submit" value="search"/>
                                        </div>
                                        <div style="display:none">
                                            <table>
                                                <tr>
                                                    <td>
                                                        <input type="radio" id="id_search_options_0" value="b" name="search_options"/>
                                                    </td>
                                                    <td>
                                                        <label for="id_search_options_0">Bills</label>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <input type="radio" id="id_search_options_1" value="l" name="search_options"/>
                                                    </td>
                                                    <td>
                                                        <label for="id_search_options_1">People</label>
                                                    </td>
                                                </tr>
                                            </table>
                                        </div>
                                    </form>
                                </div>  
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            {% endblock header %}
        </div>
        <div class="yui3-g main-container">
            {% block content %}
            <div class="yui3-u-2-5" id="firstColumn">
                
            </div>
            <div class="yui3-u-3-5" id="secondColumn">
                
            </div>
            {% endblock content %}
        </div>
        {% block footer %}
        <div class="yui3-g" id="footer">
            <div class="yui3-u-1">
                <div class="yui3-g">
                    <div class="yui3-u-1-5">
                        <div class="content-box">
                            <p>Bills:</p>
                        </div>
                    </div>
                    <div class="yui3-u-1-5">
                        <div class="content-box">
                            <p>People:</p>
                        </div>
                    </div>
                    <div class="yui3-u-1-5">
                        <div class="content-box">
                            <p>Committees:</p>
                        </div>
                    </div>
                    <div class="yui3-u-1-5">
                        <div class="content-box">
                            <p>Something Else:</p>
                        </div>
                    </div>
                    <div class="yui3-u-1-5">
                        <div class="content-box">
                            <p>Resources: </p>
                            <ul>
                                <li><a href="/developers/">For Developers</a></li>
                                <li><a href="http://azleg.gov/" rel="external dc:source">Arizona State Legislature</a></li>
                                <li><a href="http://openstates.sunlightlabs.com/" rel="external">The Openstates Project</a></li>
                                <li><a href="http://www.transparencydata.com/" rel="external">TransparencyData</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="yui3-u-1">
                <div class="content">
                    <p>
                        2010 Anvil Rock Road 
                    </p>
                    - <a href="">About</a>
                    - <a href="">Terms of Service</a>
                    - <a href="">Privacy Policy</a>
                    - <a href="">DMCA Notice</a>    
                </div>
            </div>
        </div>
        {% endblock %}
        <script type="text/javascript" src="{{ MEDIA_URL }}js/mygov-2010-12-30.js" charset="utf-8">
        </script>
        <script type="text/javascript">
            YUI({insertBefore: "sitestyle"}).use("node-menunav", function(Y) {
                    var menu = Y.one("#sitenavigation");
                    menu.plug(Y.Plugin.NodeMenuNav);
                }); 
        </script>
        {% block endscript %}
        {% endblock endscript %}
        {% block extra_body %}
        {% endblock extra_body %}
    </body>
</html>
