{% extends 'site.html' %}
{% block content %}
    <div class="yui3-u-1">
        <div class="inner_content">
            <div class="yui3-g">
                {% for chamber in people %}
                <div class="yui3-u-1-2">
                    <table style="width:100%;">
                        <thead class="inner">
                            <tr>
                                <td>{% ifequal chamber 'lower' %}House of Representatives{% else %}Senate{%  endifequal %}</td>
                                <td>Party</td>
                                <td>District</td>
                            </tr>
                        </thead>
                        {% ifequal chamber 'lower' %}
                        {%  for person in people.lower %}
                        <tr about="{% url people.views.person_view person.leg_id %}">
                            <td>
                                <a href="{% url people.views.person_view person.leg_id %}">
                                    <span property="full_name">{{ person.full_name }}</span>
                                </a>
                            </td>
                            <td property="party">{{ person.party }}</td>
                            <td property="district">{{  person.district }}</td>
                        </tr>
                        {% endfor %}
                        {% else %}
                        {%  for person in people.upper %}
                        <tr about="{% url people.views.person_view person.leg_id %}">
                            <td>
                                <a href="{% url people.views.person_view person.leg_id %}">
                                    <span property="full_name">{{ person.full_name }}</span>
                                </a>
                            </td>
                            <td property="party">{{ person.party }}</td>
                            <td property="district">{{  person.district }}</td>
                        </tr>
                        {% endfor %}
                        {% endifequal %}
                    </table>
                </div>
                {%  endfor %}
            </div>
        </div>
    </div>
{% endblock content %}
