{% extends 'site.html' %}
{% block content %}
    <div class="yui3-u-1">
        <div class="inner_content">
            <div class="yui3-g" about="{% url people.views.person_view person.leg_id %}">
                <div class="yui3-u-1">
                    <div class="inner"><strong property="full_name">{{ person.full_name }}</strong></div>
                    
                    <div rel="{{ azNS.roles }}">
                    {% for role in roles %}
                        {% if role.committee %}
                        <p rel="{{ azNS.Role }}" resource="{{ azNS.Role }}/{{ role.id }}">
                            <span rel="{{ azNS.committee }}" resource="{{ azNS.Committee }}/{{ role.committee.id }}">
                                <a href="">{{ role.committee.name }}</a>
                            </span> - 
                            <span property="{{ azNS.role_type }}">{{ role.type }}</span> - 
                            <span propert="{{ azNS.term }}">{{ role.term }}</span>
                        </p>
                        {% else %}
                        <p rel="{{ azNS.Role }}" resource="{{ azNS.Role }}/{{ role.id }}">
                            <span property="{{ azNS.role_type }}">{{ role.type }}</span>
                             - 
                            <span property="{{ azNS.term }}">{{ role.term }}</span>
                             - 
                            <span property="{{ azNS.district }}">{{ role.district }}</span>
                             -
                            <span property="{{azNS.start_date}}">{{ role.start_date }}</span>
                             -
                            <span property="{{azNS.end_date}}">{{ role.end_date }}</span>
                        </p>
                        {% endif %}
                    {% endfor %}
                    </div>
                </div>
                {# sponsored_bills is a list of namedtuples sorted by bill__number #}
                {% regroup sponsored_bills|dictsortreversed:"type" by type as sponsorship %}
                {% for p_c in sponsorship %}
                <div class="yui3-u-1-2" rel="{{ azNS.sponsored_bills }}">
                    <div class="inner"><strong property="{{ azNS.sponsor_type }}">{% ifequal p_c.grouper 'P'%}Primary{% else %}Co-Sponsored{% endifequal %}:</strong></div>
                    <ul>
                        {% for bill in p_c.list %}
                        <li rel="{{ azNS.Bill }}" resource="{% url bills.views.bill_overview term session bill.number %}">
                            <a href="{% url bills.views.bill_overview term session bill.number %}">{{ bill.number }}</a>
                            <span>{{ bill.title }}</span>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
                {% endfor %}
                <div class="yui3-u-1-2">

                </div>
            </div>
        </div>
    </div>
{% endblock content %}
